<mat-toolbar>
	<button mat-icon-button routerLink="/inventory">
		<mat-icon>keyboard_arrow_left</mat-icon>
		&nbsp;
		<span>zurück</span>
	</button>
</mat-toolbar>

<div class="inventory-image" *ngIf="data?.media">
	<img src="{{data?.media?.url}}">
</div>

<mat-card *ngIf="data">
	<mat-card-header>
		<mat-card-title>
			{{data?.title}}
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div class="inventory-row">
			<div class="label">Titel:</div>
			<div class="content">{{data?.title}}</div>
		</div>
		<div class="inventory-row">
			<div class="label">Halter:</div>
			<div class="content">{{data?.holder.name}}</div>
		</div>
		<div class="inventory-row">
			<div class="label">Besitzer:</div>
			<div class="content">{{data?.owner.name}}</div>
		</div>
		<div class="inventory-row">
			<div class="label">Kategorie:</div>
			<div class="content">{{data?.category.title}}</div>
		</div>
	</mat-card-content>
</mat-card>

<mat-card *ngIf="data" class="mt12">
	<mat-card-content>
		<ng-template [ngIf]="userHasRequested">
			<div class="mb12">Du hast bereits eine Anfrage gestellt.</div>
		</ng-template>

		<button mat-raised-button (click)="onRequestItem()" *ngIf="showRequestBtn" [disabled]="!claimItemActionEnabled">
			Anfrage stellen
		</button>

		<ng-template [ngIf]="userIsItemHolder() && requests.length">
			<div>
				Du hast eine Anfrage von <b>{{requests[0].user.name}}</b>. <br>
				Um das Asset zu übergeben bestätigen.
			</div>
			<div class="mt12">
				<button mat-raised-button (click)="transferItem()">
					Asset übergeben
				</button>
			</div>
		</ng-template>
		<ng-template [ngIf]="userIsItemHolder() && !requests.length">
			<div>
				Du hast dieses Asset gerade.
			</div>
		</ng-template>
	</mat-card-content>
</mat-card>
