<mat-toolbar [formGroup]="categoryFilterForm">
	<button mat-button routerLink="create">
		<mat-icon>add_circle</mat-icon>
		<span>Neu</span>
	</button>
	<span class="fill-remaining-space"></span>


	<mat-select placeholder="Kategorie" formControlName="categoryFilter">
		<mat-option *ngFor="let category of categories" [value]="category.id">
			{{ category.title }}
		</mat-option>
	</mat-select>
</mat-toolbar>

<div>

	<mat-table #table [dataSource]="dataSourceFiltered">

		<!--- Note that these columns can be defined in any order.
					The actual rendered columns are set as a property on the row definition" -->

		<!-- Position Column -->

		<!-- Name Column -->
		<ng-container matColumnDef="title">
			<mat-header-cell *matHeaderCellDef> Titel </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
		</ng-container>

		<!-- Owner Column -->
		<ng-container matColumnDef="holder">
			<mat-header-cell *matHeaderCellDef> Halter </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.holder.name}} </mat-cell>
		</ng-container>

		<!-- Category Column -->
		<ng-container matColumnDef="category">
			<mat-header-cell *matHeaderCellDef> Kategorie </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.category.title}} </mat-cell>
		</ng-container>


		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onClick(row)"></mat-row>
	</mat-table>
</div>
